<!--
@Author: Nicolas Fazio <webmaster-fazio>
@Date:   24-07-2016
@Email:  contact@nicolasfazio.ch
@Last modified by:   webmaster-fazio
@Last modified time: 24-07-2016
-->

<!--
  Generated template for the Fat component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="lip_wrapper">
  <div class="lip_circle">
    <div class="lip_liquide" [ngStyle]="{'height': setLiquid(dataInput)}"></div>
  </div>
  <div class="lip_title">
  </div>
</div>
