<!--
@Author: Nicolas Fazio <webmaster-fazio>
@Date:   02-01-2017
@Email:  contact@nicolasfazio.ch
@Last modified by:   webmaster-fazio
@Last modified time: 04-02-2017
-->

<!--
  Generated template for the Add page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <header-content title=""></header-content>
</ion-header>

<ion-content>
  <div *ngIf="productAdded === false" >

    <form [formGroup]="myForm"  >

      <div class="add-header" padding text-center>
        <h2 ion-text color="blanc">Photo du produit</h2>
        <!-- <input type="file" id="exampleInputFile" (change)="selectFile($event)"> -->
        <div *ngIf="base64Image != null">
          <img [src]="base64Image" />
        </div>
        <div *ngIf="base64Image == null">
          <p ion-text color="blanc">Pas de photo actuelement</p>
        </div>
        <p>
          <button ion-button color="blanc" outline (click)="getPicture()" > <ion-icon name="camera"></ion-icon> Prendre une photo</button>
        </p>
      </div>
      <div class="acc-wrapper">

        <div class="acc-item">
          <h3 padding class="acc-title" ion-text color="primary">
            Caractéristiques du produit
          </h3>
          <div class="acc-content open">
            <div padding>
              <ion-list>

                <ion-item>
                  <ion-label stacked>Barcode</ion-label>
                  <ion-input formControlName="code" value="{{barcode}}" type="text" placeholder="Exemples : 2000000033399"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label stacked>Nom du produit</ion-label>
                  <ion-input formControlName="product_name" type="text" placeholder="Exemple : Kinder Bueno White"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label stacked>Quantité</ion-label>
                  <ion-input formControlName="quantity" type="text" placeholder="Exemples : 2 l, 250 g, 1 kg, 25 cl"></ion-input>
                </ion-item>

              </ion-list>
            </div>
          </div>
        </div>

        <div class="acc-item">
          <h3 padding class="acc-title" ion-text color="primary">
            Ingrédients
          </h3>
          <div class="acc-content open">
            <div padding>
              <ion-list>

                <ion-item>
                  <ion-label stacked>Liste des ingrédients</ion-label>
                  <ion-textarea formControlName="ingredients_text" type="text" placeholder="Céréales, extrait de malt, cacao 4,8%, vitamine C"></ion-textarea>
                </ion-item>

              </ion-list>
            </div>
          </div>
        </div>

        <div class="acc-item">
          <h3 padding class="acc-title" ion-text color="primary" >
            Informations nutritionnelles
          </h3>
          <div class="acc-content open">
            <div padding>
              <p text-center>
                Données  en gr. pour 100gr.
              </p>
              <ion-list class="nutriment">

                <ion-item>
                  <ion-label fixed>Énergie:</ion-label>
                  <ion-input formControlName="nutriment_energy" class="suffix_gr" type="text" placeholder="569"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label fixed>Lipides:</ion-label>
                  <ion-input formControlName="nutriment_fat" class="suffix_gr" type="text" placeholder="35.9"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label fixed><small>- acides gras saturés:</small></ion-label>
                  <ion-input formControlName="nutriment_fat_sat" class="suffix_gr" type="text"  placeholder="16.8"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label fixed>Glicides:</ion-label>
                  <ion-input formControlName="nutriment_carbohydrates" class="suffix_gr" type="text"  placeholder="52.6"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label fixed><small>- dont sucres:</small></ion-label>
                  <ion-input formControlName="nutriment_sugars" class="suffix_gr" type="text" placeholder="42.6"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label fixed>Fibres:</ion-label>
                  <ion-input formControlName="nutriment_fiber" class="suffix_gr" type="text" placeholder="1"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label fixed>Protéines:</ion-label>
                  <ion-input formControlName="nutriment_proteins" class="suffix_gr" type="text" placeholder="8.8"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label fixed>Sel:</ion-label>
                  <ion-input formControlName="nutriment_salt" class="suffix_gr" type="text" placeholder="0.3302"></ion-input>
                </ion-item>

              </ion-list>
            </div>
          </div>
        </div>
        <div style="clear: both;"></div>
      </div>
    </form>
    <div text-center padding>
      <br>
      <button ion-button (click)="onAdd()" color="secondary" large>Ajouter</button>
      <br>
    </div>

  </div>
  <div *ngIf="productAdded === true" padding>
    <br>
    <h3 text-center ion-text color="primary">
      L'article à correctement été ajouté
    </h3>
    <div text-center padding>
      <br>
      <button ion-button (click)="onbackToSearch()" color="primary" outline large>Rechercher</button>
      <br>
    </div>
  </div>


</ion-content>
