<div class="product-header">
  <div class="product-img" [style.background-image]="'url(' + productDataHeaderInput.image_thumb_url + ')'"></div>
  <div *ngIf="productDataHeaderInput.product_name " class="transition_anim_5ms">
    <h1 padding ion-text color="primary">
      <span class="productTitle">
          {{ productDataHeaderInput.product_name  }}
        <br />
        <small *ngIf="productDataHeaderInput.quantity ">
          {{ productDataHeaderInput.quantity }}
        </small>
      </span>

    </h1>

  </div>
</div>
