<!--
@Author: Nicolas Fazio <webmaster-fazio>
@Date:   23-07-2016
@Email:  contact@nicolasfazio.ch
@Last modified by:   webmaster-fazio
@Last modified time: 28-07-2016
-->

<!--
  Generated template for the ProductHeader component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="product-header">
  <div class="product-img" [style.background-image]="'url(' + productDataHeaderInput.image_thumb_url + ')'">
  </div>
  <div *ngIf="productDataHeaderInput.product_name " class="transition_anim_5ms">
    <h1 primary>
      {{ productDataHeaderInput.product_name  }}
      <br />
      <small *ngIf="productDataHeaderInput.quantity ">
        {{ productDataHeaderInput.quantity }}
      </small>
    </h1>

  </div>

</div>
