// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   18-07-2016
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 15-08-2016

.home {
  background: url(../img/bg-app.png) center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #03A9F4;
}
.home * {
  font-weight: 400;
}
.btn-block-60 {
    min-width: 60%;
}
.table {
    display: table;
    height: 100%;
    width:100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.home h1.app-title {
  font-size: 3.5rem;
  font-weight: 100;
}
