<!--
@Author: Nicolas Fazio <webmaster-fazio>
@Date:   23-07-2016
@Email:  contact@nicolasfazio.ch
@Last modified by:   webmaster-fazio
@Last modified time: 15-08-2016
-->

<!--
  Generated template for the ProductRelated component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="acc-item">
  <h3 (click)="onClickToggle($event)" padding class="acc-title">
    Articles similaires ({{ total }})
    <span><ion-icon name="ios-add"></ion-icon></span>
  </h3>
  <div class="acc-content">
    <div>
      <ion-list>
        <ion-item *ngFor="let productData of relatedProduct" (click)="onClickRelated($event,productData.id)">
          <ion-thumbnail item-left>
            <div class="img_thumb" [style.background-image]="'url(' + productData.image_thumb_url + ')'"></div>
          </ion-thumbnail>
          <h2>{{ productData.product_name }}</h2>
          <p *ngIf="productData.brands != productData.product_name">{{ productData.brands }}</p>
          <ion-icon clear item-right secondary ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </div>
</div>
