// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   28-07-2016
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 29-08-2016

.add-page {
  .suffix_gr::after {
    content:'gr';
    position: absolute;
    top:12px;
    color:#b2b2b2;
  }
}
.add-header {
  padding: 25px 0px 25px;
  background-color: color($colors, primary)
}
.add-page ion-list > .item:first-child, ion-list > .item-wrapper:first-child .item {
    border-top: 0px solid #dedede;
}
.add-page .item {
  padding:0px 16px;
}
.add-page .nutriment .text-input {
    text-align: right;
}
.imgPreview {
    max-width: 80%;
}
#uploadFile {
    opacity: 0;
    position: absolute;
    top: 0;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.btn-primary {
    color: #fff;
    background-color: color($colors, primary);
    border-color: white;
}
.btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid white;
    border-radius: 1px;
    width:80%;
    margin: 15px auto;
}
