<!--
@Author: Nicolas Fazio <webmaster-fazio>
@Date:   23-07-2016
@Email:  contact@nicolasfazio.ch
@Last modified by:   webmaster-fazio
@Last modified time: 02-09-2016
-->

<!--
  Generated template for the ProductIngredient component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<div class="acc-item">
  <h3 (click)="onClickToggle($event)" padding class="acc-title">
    Liste des ingredients ({{ ingredientsInput.length }})
    <span><ion-icon name="ios-add"></ion-icon></span>
  </h3>
  <div class="acc-content">
    <div padding>
      <ion-badge class="line-badge" *ngFor="let ingredient of ingredientsInput"> {{ ingredient.text}} </ion-badge>
    </div>
  </div>
</div>
